* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.img {
    background-image: url('/images/pexels-jopwell-2422293.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
    color: white;
    filter: grayscale(100%);
    

}

/* .img {
 
    width: 100%;
    height: 100%;
   
    
} */







#red_space {
    width: 100%;
    height: 55%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: #8000209a; 
}


#text {
    color: #ece9e9;
    text-align: center;
    text-shadow: 5px 2px 10px  black;
    letter-spacing: 5px;
   
}

#title {
    font-size: 5.5rem;
    font-family: Urbanist, 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS, sans-serif';
 
}

#quote {
    margin: 2rem;
    font-family: Plus Jakarta Sans, 'Arial', 'Gill Sans MT', 'Calibri', 'Trebuchet MS, sans-serif';
}

#sub_title {
    font-size: 3rem;
    font-family: Plus Jakarta Sans, 'Arial', 'Gill Sans MT', 'Calibri', 'Trebuchet MS, sans-serif';
}


/* JavaScript code start */

.timer {
    
    position: relative;
    z-index: 1;
}
.coming_soon{
    min-height:10vh;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    font-family:'Plus Jakarta Sans','Franklin Gothic Medium', 'Arial Narrow', 'Arial, sans-serif';
    background-size: cover;
    background-repeat:no-repeat; 
    color:rgb(236, 233, 233);
    padding-top: 1rem;
} 


.countdown{
    display:flex;
    justify-content: space-around;
    text-align:center;
    border: 2px solid white;
    gap: 1rem;
    padding: 2rem;
    text-shadow: 5px 2px 10px  black;
}

.day,.hour,.minute,.second{
    font-size:2.5rem;
    
}
/* JavaScript code end */