* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    background-image: url(pexels-jopwell-2422293.jpg);
    background-size: cover;
} */

#image {
    max-width: 50%;
   
    filter: grayscale(100%);
} 

@media  (max-width: 1000px) {
  
}