* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #800020;
}



#everything {
    width: 100%;
    height: 100%;
    background-image: url(pexels-jopwell-2422293.jpg);
    position: absolute;
    background-size: cover;
    z-index: -1;
    filter: grayscale(100%);
}

img {
    display: none;
} 

.flex {
    display: flex;
    flex-direction: column;
    background-color: #800020ba; 
    padding-bottom: .5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    
   
} 


#timer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; 
    font-family:'Plus Jakarta Sans',
    'Franklin Gothic Medium', 
    'Arial Narrow', 'Arial, sans-serif';
    color:#ece9e9;
    padding-top: .5rem;
    text-align: center;
    gap: 1.2rem;
    

} 

.coming_soon {
    border: 2px solid #ece9e9;
    flex-direction: row;
    display: flex;
    padding: .5rem;
}

.coming_soon h4 {
    color: #ece9e9;
    padding: 1rem;
    font-size: 1.2rem;

}

.coming_soon h3 {
   font-size: 2rem;
}


#title,
#quote,
#sub_title {
    color: #ece9e9;
    text-align: center;
    text-shadow: 5px 2px 10px  black;
    letter-spacing: 5px;
}

#title {
    font-size: 4.5rem;
    font-family: Urbanist, 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS, sans-serif';
 
}

#quote {
    text-align: center;
    padding: .1rem;
    font-size: 1.1rem;
    font-style: italic;
    font-family: Plus Jakarta Sans, 'Arial', 'Gill Sans MT', 'Calibri', 'Trebuchet MS, sans-serif';
    line-height: 30px;
}

#sub_title {
    font-size: 2rem;
    font-family: Plus Jakarta Sans, 'Arial', 'Gill Sans MT', 'Calibri', 'Trebuchet MS, sans-serif';
}

/* .underline {
    text-decoration: underline;
} */



/* Responsiveness? */

@media (max-width: 1000px){
    body {
        background-color: #52555a;
    }

    

    #everything {
        display: none;
        

    }

    img {
        display: block;
        filter: grayscale(100%);
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: relative;
        
    }

    #wrapper {
        width: 100vw;
        height: 500px;
    }
  
    #red_space {
        width: 100%;
        position: relative;
        bottom: 0;
        z-index: 1;
        background-color: #800020;  
    } 

    #quote {
        font-size: 1rem;
    }
    
    #timer{
        position: relative;
        z-index: 2;
        background-color: #800020;
    } 

.day,.hour,.minute,.second{
    font-size:2.3rem;
    
}





}
   
